<div class="navbar">
  <div class="navbar-item">
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYssOfiyE0RKExjNduqYIebcN1wE7YpHR36g&usqp=CAU" alt="dd">
   <div class="navbar-text">
    <div class="nav-left">
      <a routerLink="/">Dashboard</a>
      <a href="#">Skills</a>
      <a href="#">Learning</a>
      <a href="#">About</a>
     </div>
     <div class="nav-right">
      <div class="auth">
        <span>Shivam</span>
        <button mat-raised-button color="accent" routerLink="/register">Sign In</button>
      </div>
     </div>
   </div>

  </div>
</div>
